/*
 * Purple color scheme style
 */

/* ----- Define colors ----- */

/* ----- Colors ----- */

/*
 * Colors.LESS - Classes ready for color change
 */

/* ----- Links ----- */

a {
  color: #9b59b6;
}

a:hover,
a:focus {
  color: #9b59b6;
}

/* ----- Projects category toggle ----- */

.projects-cat-toggle li:focus,
.projects-cat-toggle li:hover {
  color: #9b59b6;
}

.projects-cat-toggle li.tabs-nav__item--active {
  color: #9b59b6;
  border-color: #9b59b6;
}

/* ----- Project list ----- */

.project-block:hover .project-block__content,
.project-block:focus .project-block__content {
  background-color: rgba(119, 63, 142, 0.7);
}

/* ----- Post formats ----- */

.mejs-container,
.mejs-embed,
.mejs-embed body,
.mejs-container .mejs-controls {
  background: #9b59b6 !important;
}

/* ----- Sticky post ----- */

.sticky:after {
  background-color: #9b59b6;
}

/* ----- Comments ----- */

.bypostauthor,
.bypostauthor .comment-meta {
  border-color: #9b59b6;
}