@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic,900,900italic);

/* ----- Colors ----- */

/* ----- Screen ----- */

body#tinymce.wp-editor {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  /* ----- Tables ----- */
  /* ----- Lists ----- */
  /* ----- Definition lists ----- */
  /* ----- Preformatted text ----- */
  /* ----- Images ----- */
  /* Gallery */
  /* Image */
}

body#tinymce.wp-editor a {
  color: #e74c3c;
}

body#tinymce.wp-editor a:hover,
body#tinymce.wp-editor a:focus {
  color: #e74c3c;
}

body#tinymce.wp-editor h1,
body#tinymce.wp-editor h2,
body#tinymce.wp-editor h3,
body#tinymce.wp-editor h4,
body#tinymce.wp-editor h5,
body#tinymce.wp-editor h6 {
  margin: 50px 0 25px;
  font-weight: 700;
  line-height: 1.25;
}

body#tinymce.wp-editor h1 strong,
body#tinymce.wp-editor h2 strong,
body#tinymce.wp-editor h3 strong,
body#tinymce.wp-editor h4 strong,
body#tinymce.wp-editor h5 strong,
body#tinymce.wp-editor h6 strong {
  font-weight: 900;
}

body#tinymce.wp-editor h1 {
  font-size: 35px;
}

body#tinymce.wp-editor h2 {
  font-size: 30px;
}

body#tinymce.wp-editor h3 {
  font-size: 26px;
}

body#tinymce.wp-editor h4 {
  font-size: 22px;
}

body#tinymce.wp-editor h5 {
  font-size: 18px;
}

body#tinymce.wp-editor h6 {
  font-size: 14px;
}

body#tinymce.wp-editor img:not(.wp-more-tag) {
  max-width: 100%;
  height: auto;
}

body#tinymce.wp-editor button {
  border: 0;
}

body#tinymce.wp-editor :focus {
  outline: none !important;
}

body#tinymce.wp-editor p {
  line-height: 28px;
  padding: 0;
  margin: 0 0 20px 0;
}

body#tinymce.wp-editor figure {
  max-width: 100%;
  height: auto;
}

body#tinymce.wp-editor table td,
body#tinymce.wp-editor table th {
  padding: 8px;
  border: 1px solid #d0d0d0;
}

body#tinymce.wp-editor ol,
body#tinymce.wp-editor ul {
  margin: 0;
  padding: 0;
}

body#tinymce.wp-editor ol li,
body#tinymce.wp-editor ul li {
  list-style: none;
}

body#tinymce.wp-editor li {
  margin: 5px 0 0 0;
}

body#tinymce.wp-editor ul ul {
  padding-left: 30px;
}

body#tinymce.wp-editor ol {
  padding: 0 0 0 25px;
}

body#tinymce.wp-editor ol > li {
  list-style: decimal;
}

body#tinymce.wp-editor dt {
  margin: 0 0 5px 0;
}

body#tinymce.wp-editor dd {
  margin: 0 0 25px 0;
  padding-left: 30px;
}

body#tinymce.wp-editor pre {
  padding: 20px 23px;
  border: 1px solid #BFBFBF;
  border-radius: 5px;
  word-wrap: break-word;
  font-style: italic;
  font-size: 15px;
  margin: 0 0 20px 0;
}

body#tinymce.wp-editor .alignleft {
  float: left;
  margin: 0 20px 20px 0;
}

body#tinymce.wp-editor .alignright {
  float: right;
  margin: 0 0 20px 20px;
}

body#tinymce.wp-editor .aligncenter {
  margin: 0 auto 20px auto;
}

body#tinymce.wp-editor .alignnone {
  margin-bottom: 20px;
}

body#tinymce.wp-editor p .aligncenter {
  margin-bottom: 0;
}

body#tinymce.wp-editor .gallery-item {
  position: relative;
}

body#tinymce.wp-editor .gallery-item figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  max-height: 100%;
  color: #fff;
  padding: 50px 15px 15px 15px;
  pointer-events: none;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
  /* IE6-9 */
  overflow: hidden;
}

body#tinymce.wp-editor .gallery-icon img {
  width: 100%;
}

body#tinymce.wp-editor .post.format-image img {
  margin: 0;
  max-width: 100%;
}

body#tinymce.wp-editor .wp-caption {
  position: relative;
}

body#tinymce.wp-editor .wp-caption-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px 25px;
  color: #fff;
  font-size: 16px;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.8)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#cc000000', GradientType=0);
  /* IE6-9 */
}

body#tinymce.wp-editor blockquote {
  padding: 15px 15px 15px 30px;
}

body#tinymce.wp-editor blockquote p {
  font-size: 24px;
  font-style: italic;
  line-height: 36px;
  color: #a0a0a0;
}

@media (min-width: 768px) {
  body#tinymce.wp-editor {
    font-size: 17px;
  }

  body#tinymce.wp-editor h1 {
    font-size: 65px;
  }

  body#tinymce.wp-editor h2 {
    font-size: 55px;
  }

  body#tinymce.wp-editor h3 {
    font-size: 40px;
  }

  body#tinymce.wp-editor h4 {
    font-size: 30px;
  }

  body#tinymce.wp-editor h5 {
    font-size: 23px;
  }

  body#tinymce.wp-editor h6 {
    font-size: 18px;
  }

  body#tinymce.wp-editor p {
    padding: 0 80px 0 0;
  }

  body#tinymce.wp-editor table td,
  body#tinymce.wp-editor table th {
    padding: 10px 15px;
  }
}